<section class="section">
    <div class="wrapper">

    <div class="col-box">
        <div class="col1">
            <div class="text">
                <h1 class="text__h1">
                    Atrae y gestiona nuevos clientes a tu restaurante
                </h1>
                <p class="text__p">
                    ¿Deseas aumentar los ingresos de tu restaurante y optimizar tu actividad?
                    Comienza a recibir nuevas reservas de comensales locales y de todas partes del mundo.
                </p>
            </div>
        </div>
        
        <div class="col2">
            <div class="col2__img-container">
                <img class="col2__img" [src]="'assets/images/couple-dinner.jpg'" [alt]="'couple dinner'">
            </div>
        </div>
    </div>

        <app-register-form></app-register-form>
    
    </div>
</section>
