@import 'mixins';

.footer {
    width: 100%;
    // height: 478px;
    background-color: black;
}

.wrapper {
    padding: 1rem 2rem;
    max-width: 85rem;
    margin: auto; 
    background-color: black;

}

.footer__reserva {
    width: 100%;
    background-color: #3C4048;

    .footer__reserva-p {
        font-size: .875rem;
        font-weight: 600;
        color: white;
    }
}

.wrapper-p {
    padding: 1.5rem 2rem;
    max-width: 85rem;
    height: 86px;
    margin: auto; 
}

.footer__col1 {
    width: 100%;
    @include flex( row, nowrap, center, flex-start );
}

.footer__apps {
    flex-basis: 25%;
    
    @include flex( column, nowrap, flex-start, flex-start);

    h2 {
        margin-bottom: 1rem;
        font-size: 1.125rem;
        font-weight: 600;
        color: white;
    }

    .footer__imgBox {
        min-width: 172px;
    }
    img {
        width: 168px;
        height: 50px;
        margin: 1rem 0;
    }
}

.footer__ul {
    flex-basis: 50%;

    @include flex( row, wrap, center, center );
}

.footer__li {
    flex-basis: 50%;
    list-style-type: none;
}

.footer__a {
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 600;
    color: white;
    padding: 0.5rem 0.5rem 0.5rem 0;
}

.footer__socialBox {
    flex-basis: 25%;
}

.footer__media {

    @include flex( row, nowrap, flex-start, flex-start);

    a {
        font-size: 1.8rem;
        margin-right: 1rem;
        color: white;
    }    
}

.footer__pCopyRight {
    margin-top: 1rem;
    font-weight: 600;
    color: white;
}

.footer__span {
    font-size: 1.28rem;
}

.footer__col2 {
    width: 100%;
    margin-top: 1rem;

    p {
        font-size: 0.75rem;
        text-align: center;
        padding: 0 0 .4rem;
        line-height: 1.5;
        color: white;
    }
}


/* ----- QUERIES ----- */


@include media(1160px){

    .wrapper-p {
        padding: 1.5rem 1rem;
    }

    .wrapper {
        padding: 1rem 1rem;
    }

    .footer__col1 {
        @include flex( row, wrap, space-around, flex-start );
    }

    .footer__apps {
        flex-basis: calc(100% / 3);
    }

    .footer__ul {
        flex-basis: calc(100% * 2/3);
    }
        
    .footer__socialBox {
        flex-basis: 100%;
        margin-top: 1.4rem;

        @include flex( column, nowrap, center, center);
    }

    .footer__media {
        margin-bottom: 0.5rem;

        a {
            font-size: 1.2rem;
            margin-right: 0;
            margin: 0 1rem;
        }
    }

    .footer__col2 {
        margin-top: 1.7rem;
    }
};

@include media(715px) {

    .footer__col1 {

        @include flex( column, wrap, flex-start, flex-start );       
    }

    .footer__apps {
        width: 100%;
    }

    .footer__imgBox {
        width: 100%;

        @include flex( row, nowrap, flex-start, center);
    }   

    .footer__imgEven50 {
        width: 50%;
    }

    .footer__pCopyRight {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer__col2 {
        margin-top: 0rem;
    }
}