<section class="about">
    <div class="wrapper">

        <h2>Acerca de TheFork</h2>

        <p class="about__p1">
            En TheFork te ofrecemos más de 60.000 restaurantes para reservar en cualquier momento y con las mejores promociones. ¡Con más de 20 millones de opiniones fiables que te ayudarán a encontrar el restaurante perfecto!
        </p>
        <p class="about__p2">
            Tanto si quieres descubrir los <a>restaurantes de moda en Madrid</a>, un <a>restaurante</a> <a>japonés en Barcelona</a>, las <a>mejores arrocerías de Valencia</a> o para los que quieren una <a>cena romántica en Madrid</a>, reserva un <a>restaurante para San Valentín en Barcelona</a> o en cualquier otra ciudad, ¡en TheFork encontrarás los mejores restaurantes!
        </p>

    </div>
</section>