<app-nueva-tarjeta></app-nueva-tarjeta>

<app-buscador></app-buscador>

<app-favoritos-usuarios></app-favoritos-usuarios>

<!-- repetir 8 veces -->
<app-slider-restaurante *ngFor="let slider of slidersRestaurante"
                        [titulo]="slider.titulo"
                        [restaurantes]="slider.restaurantes"
                        [flechas]="slider.flechas">
</app-slider-restaurante>


<app-como-funciona></app-como-funciona>

<!-- repetir 2 veces -->
<app-slider-ciudad *ngFor="let slider of slidersCiudad"
                   [tipo]="slider.tipo"
                   [flechas]="slider.flechas"
                   [titulo]="slider.titulo"
                   [ciudades]="slider.ciudades">
</app-slider-ciudad>


<app-acerca-the-fork></app-acerca-the-fork>

<app-eres-propietario></app-eres-propietario>