<section class="section">

    <div class="wrapper">

        <div class="section__header">
            <h2 class="section__h2">{{ titulo }}</h2>
            <div class="section__buttonsBox">
    
                <button (click)="slideLeft()" [disabled]="left" [ngClass]="{ 'disabled' : left }" class="section__btnSlider">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false" class="section__btnSliderSvg">
                        <path fill-rule="evenodd" d="M15.749 20.5c-.24 0-.48-.086-.673-.26l-8.249-7.496a1 1 0 010-1.479l8.249-7.504a1 1 0 011.346 1.478l-7.436 6.765 7.436 6.756a1.002 1.002 0 01-.673 1.74"></path>
                    </svg>
                </button>
                <button (click)="slideRight()" [disabled]="right" [ngClass]="{ 'disabled' : right }" class="section__btnSlider">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false" class="css-p3qwn0 e10xbrur0">
                        <path fill-rule="evenodd" d="M8.25 20.5a1.002 1.002 0 01-.673-1.74l7.436-6.756-7.436-6.765a1 1 0 111.346-1.478l8.249 7.504a1 1 0 010 1.479L8.923 20.24c-.193.174-.433.26-.673.26"></path>
                    </svg>
                </button>
    
            </div>
        </div>

        <article  class="article .scroll1">
    
            <div class="article__slider" [ngClass]="{ 'left' : left, 'right' : right }">
                <div *ngFor="let ciudad of ciudades; let i = index" class="article__cardBox">
                    <a class="article__card-link">
                        <div [ngClass]="{'small-width': tipo === 'small', 'large-width': tipo === 'large'}" 
                             class="article__card">

                            <img [src]="ciudad.imagen" 
                                 [alt]="ciudad.nombre" 
                                 class="article__image">
                  
                            <p [ngClass]="{'small-name': tipo === 'small', 'large-name': tipo === 'large'}"
                               class="article__ciudad">
                               {{ ciudad.nombre }}
                            </p>

                        </div>
                    </a>
                </div>
            </div>

        </article>

    </div>
</section>
