@import 'mixins';

/* ----- SECTION ----- */

.section {
    width: 100%;
    background-color: white;
}

.wrapper {
    width: 100%;
    max-width: 67rem;
    margin: 0 auto; 
    padding: .6rem 1rem;
}

.section__header {
    padding:  0 25px 0 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__h2 {
    color: rgb(60, 64, 72);
    font-size: 1.375rem;
    font-weight: 600;

    @media (max-width: 1160px) {
        font-size: 1.125rem;
    }
}

.section__buttonsBox {
    width: 128px;
    display: flex;
    justify-content: space-between;
    opacity: 0;

    @media (min-width: 1300px) {
        opacity: 1; 
    }
}

.section__btnSlider {
    padding-top: 4px;
    color: rgb(60, 64, 72);
    background-color: hsl(0, 0%, 100%);
    box-shadow: none;
    border: none;
    border-radius: 0.25rem;
    min-width: 3rem;
    height: 3rem;
    border: 1px solid #BFC3CA;
    cursor: pointer;

    &:hover {
        border: 1px solid black;
        background-color: #E8F0E5;
        color: #427137;
    }  
}

.section__btnSlider.disabled {
    background-color: hsl(220, 9%, 93%);
    border: none;
    cursor: not-allowed;
    fill: #959BA6;    
}



/* ----- ARTICLE -----  */

.article {
    padding: 20px 0 20px 20px;
    width: 100%;
    overflow-x: hidden;  
    
    @media (max-width: 1300px) {
        overflow-x: auto;  
    }

    @media (max-width: 380px) {
        padding: 20px 20px 20px 10px;
    }
}

/* ----- SCROLLBAR ----- */

.article::-webkit-scrollbar {
    height: 0.4em;
  }
  
.article::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
  
.article::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: gray;
    outline: none;
}


.article__slider {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    transition: all 0.6s ease;
}

.article__slider.left {
    transform: translateX(0%);
}

.article__slider.right {
    transform: translateX(-100%);
}

.article__cardBox {
    padding: 0.25rem 0.5rem 1rem;

    // @media (max-width: 1260px) {
    //     padding: 0.25rem 0 1rem;  
    // }

    @media (max-width: 1160px) {
        padding: 0.25rem 0.5rem 1rem;  
    }
}

.article__card-link {
    cursor: pointer;
}

.article__card {
    position: relative;
    padding: 0.5rem;
    width: 295px;
    border-radius: 4px;
    
    &:hover {
        box-shadow: 0px 3px 6px rgb(223, 221, 221);
    }
}


/* ----- RESTAURANTE ----- */

.article__svgInsider {
    position: absolute;
    top: -10px;
    right: 20px;
}

.article__image {
    width: 100%;
    height: 215px;
    border-radius: 4px;
}

.article__ulTipo {
    margin: 3px 0 0;
    display: flex;
}

.article__liTipo {
    margin-right: 4px;
    font-size: 0.625rem;
    font-weight: 500;
    line-height: 1.5;
    color: rgb(60, 64, 72);

    &::after {
        content: ' •';
        margin: 5px 0;
        font-size: 0.8rem;
    }

    &:last-child::after {
        content: '';
    }
}

.article__titleBox {
    margin: 4px 0 11px;
    display: flex;
    justify-content: space-between;
}

.article__title {
    font-size: 1rem;
    font-weight: 600;
    color: hsl(0, 0%, 0%);
}

.article__nota {
    padding-right: 0.27rem;
    font-size: 1rem;
    font-weight: 600;
    color: hsl(0, 0%, 0%);
}

.article__insiderTag {
    width: 60px;
    height: 22px;
    font-size: 0.6rem;
    border-radius: 0.125rem;
    color: rgb(255, 255, 255);
    background-color: rgb(40, 67, 60);
    font-weight: 500;

    @include flex( row, nowrap, center, center);
}

.article__payTag-box {
    @include flex( row, nowrap, flex-start, center);
}

.article__payTag {
    width: 48px;
    height: 22px;
    padding: .2rem 0.29rem 0.1rem; 
    border-radius: 0.125rem;
    color: rgb(255, 255, 255);
    background-color: hsl(248, 38%, 15%);
    display: flex;
    align-items: center;
}

.article__TextoPayTag {
    padding-bottom: 0.5px;
    font-size: 0.6rem;
    font-weight: 500;
}

.article__dobleYumsTag {
    width: 86px;
    height: 22px;
    font-size: 0.6rem;
    border-radius: 0.125rem;
    color: #3C4048;
    background-color: #FFDE31;
    font-weight: 600;
    margin-right: .3rem;

    @include flex( row, nowrap, center, center);
}

.article__direccion {
    margin: 12px 0 8px;
    font-size: 0.8125rem;
    font-weight: 400;
    color: rgb(60, 64, 72);
}

.article__precio {
    margin: 7px 0 20px;
    font-size: 0.8125rem;
    font-weight: 400;
    color: rgb(60, 64, 72);
}

.article__ulDescuentoBox {
    margin: 10px 0;
    
    @include flex( row, nowrap, flex-start, center);
}

.article__descuento {
    width: 63px;
    height: 27px;
    padding: 0 0.5rem 0.15rem 0.5rem;
    font-size: 0.8125rem;
    font-weight: 500;
    border-radius: 0.25rem;
    color: hsl(0, 0%, 100%);
    background: hsl(0, 0%, 0%);
    line-height: 1.4;
}

.article__yums {
    padding-top: 4px;
    margin-left: 11px;
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: underline 2px #FFDE31;
}




/* ----- MEDIA QUERIES -----  */

@media (max-width: 1020px){

    .section__header {
        padding:  0 0 0 36px;
    }

}


// @media (min-width: 980px){

//     .section__buttonsBox {
//         opacity: 1;
//     }

//     .article {
//         overflow-x: hidden;
//     }


// }

