<section class="reserva">
    <div class="wrapper">
        <div class="reserva__col1">
            <h1>Descubre y reserva el mejor restaurante</h1>
            <div class="reserva__formBox">
                
                <form  (ngSubmit)="buscar()">

                    <div class="reserva__input-group">
                        <label for="">Qué</label>

                        <div class="reserva__input-box">
                            <span class="reserva__icon">
                                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" aria-hidden="true" focusable="false" class="restaurant"><g fill-rule="evenodd"><path d="M16.91 1.5C19.181 1.5 21 4.068 21 6.616c0 2.083-1.32 3.496-3.273 3.802V21.59a.91.91 0 11-1.819 0V10.418c-1.952-.306-3.09-1.719-3.09-3.802 0-2.548 1.819-5.116 4.091-5.116zm0 1.467c-1.174 0-2.455 1.81-2.455 3.65 0 1.546.96 2.395 2.454 2.395 1.494 0 2.455-.849 2.455-2.396 0-1.839-1.282-3.649-2.455-3.649z"></path><path d="M7.09 21.766c0 .406-.365.734-.817.734-.452 0-.818-.328-.818-.734V9.728C4.095 9.728 3 8.723 3 7.492V2.234c0-.406.366-.734.818-.734.452 0 .818.328.818.734v5.258c0 .428.371.769.819.769V2.234c0-.406.366-.734.818-.734.452 0 .818.328.818.734V8.26c.447 0 .818-.34.818-.769V2.234c0-.406.366-.734.818-.734.452 0 .818.328.818.734v5.258c0 1.231-1.094 2.236-2.454 2.236v12.038z"></path></g></svg>
                            </span>
                            <input id="idRestb01" 
                                   type="text" 
                                   autocomplete="off"
                                   placeholder="Nombre del restaurante..."
                                   name="nombre"
                                   [(ngModel)]="nombre"
                                   (focus)="mostrarPorNombre()"
                            >
                            <span (click)="ocultarPorNombre()"
                                  [ngClass]="{'activo': activoNombre}" 
                                  class="reserva__icon-check"
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" class="css-p3qwn0 e7tclca0"><path fill-rule="evenodd" d="M12 10.94l6.22-6.22a.75.75 0 011.147.956l-.087.104L13.06 12l6.22 6.22a.75.75 0 01-.956 1.147l-.104-.087L12 13.06l-6.22 6.22a.75.75 0 01-1.147-.956l.087-.104L10.94 12 4.72 5.78a.75.75 0 01.956-1.147l.104.087L12 10.94z"></path></svg>
                            </span>

                            <div class="reserva__encontrados1-box" [ngClass]="{'activo': activoNombre}">
                                <ul class="reserva__encontrados1-ul">
                                    <!-- lista de restaurantes buscados por nombre -->
                                    <li *ngFor="let restaurante of restaurantes | busqueda:nombre:'nombre'" class="reserva__encontrados1-li">
                                        <a [routerLink]="['/restaurante', restaurante.id]" class="reserva__li-a1">
                                            <span class="reserva__li-span">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" aria-hidden="true" focusable="false" class="css-p3qwn0 e16dvmb80"><path fill-rule="evenodd" d="M9 15c-3.309 0-6-2.691-6-6 0-3.308 2.691-6 6-6s6 2.692 6 6c0 3.309-2.691 6-6 6m13.28 5.937l-7.353-7.353A7.462 7.462 0 0016.5 9 7.5 7.5 0 109 16.5a7.46 7.46 0 004.896-1.826l7.324 7.324c.146.147.338.22.53.22a.75.75 0 00.53-1.281"></path></svg>
                                            </span>
                                            <p class="reserva__li-p">{{ restaurante.nombre }}</p>
                                        </a>
                                    </li>
                        
                                </ul>
                            </div>
                        </div>

                    </div>

                    <div class="reserva__input-group">
                        <label for="">Dónde</label>
                        <div class="reserva__input-box">
                            <span class="reserva__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" class="lugar"><g fill-rule="evenodd"><path d="M12 1.5a6.75 6.75 0 016.75 6.75c0 .82-.146 1.62-.413 2.324-.775 2.588-2.671 6.43-5.69 11.557a.75.75 0 01-1.293 0c-3.02-5.127-4.916-8.97-5.675-11.51A6.75 6.75 0 0112 1.5zM12 3a5.25 5.25 0 00-5.25 5.25c0 .639.114 1.26.35 1.892.673 2.249 2.294 5.605 4.856 10.045l.043.073.43-.746c2.229-3.912 3.69-6.942 4.389-9.101l.099-.318A5.25 5.25 0 0012 3z"></path><path d="M12 5.25a3 3 0 110 6 3 3 0 010-6zm0 1.5a1.5 1.5 0 100 3 1.5 1.5 0 000-3z"></path></g></svg>
                            </span>
                            <input id="idCityb01" 
                                   type="text" 
                                   autocomplete="off"
                                   placeholder="Ciudad..."
                                   name="ciudad"
                                   [(ngModel)]="ciudad"
                                   (focus)="mostrarPorCiudad()"
                            >
                            <span (click)="ocultarPorCiudad()"
                                  [ngClass]="{'activo': activoCiudad}" 
                                  class="reserva__icon-check"
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" class="css-p3qwn0 e7tclca0"><path fill-rule="evenodd" d="M12 10.94l6.22-6.22a.75.75 0 011.147.956l-.087.104L13.06 12l6.22 6.22a.75.75 0 01-.956 1.147l-.104-.087L12 13.06l-6.22 6.22a.75.75 0 01-1.147-.956l.087-.104L10.94 12 4.72 5.78a.75.75 0 01.956-1.147l.104.087L12 10.94z"></path></svg>
                            </span>

                            <div class="reserva__encontrados2-box" [ngClass]="{'activo': activoCiudad}">
                                <ul class="reserva__encontrados2-ul">
                                    
                                    <li *ngFor="let restaurante of restaurantes | busqueda:ciudad:'ciudad'" 
                                        class="reserva__encontrados2-li"
                                    >
                                        <a [routerLink]="['/restaurante', restaurante.id]" class="reserva__li-a2">
                                            <span class="reserva__li-span">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false" class="css-p3qwn0 esca6tq0"><path fill-rule="evenodd" d="M12 1.5a6.75 6.75 0 016.75 6.75c0 .82-.146 1.62-.413 2.324-.775 2.588-2.671 6.43-5.69 11.557a.75.75 0 01-1.293 0c-3.02-5.127-4.916-8.97-5.675-11.51A6.75 6.75 0 0112 1.5zM12 6a2.25 2.25 0 100 4.5A2.25 2.25 0 0012 6z"></path></svg>
                                            </span>
                                            <p class="reserva__li-p">{{ restaurante.ciudad }} - {{ restaurante.nombre }}</p>
                                        </a>
                                    </li>
                           
                                </ul>
                            </div>

                        </div>
                    </div>

                    <button class="reserva__button" type="submit">BÚSQUEDA</button>
                </form>

            </div>
        </div>
        <div class="reserva__col2">
            <img [src]="'assets/images/es-ES.webp'" [alt]="'platos-de-comida'">
        </div>
    </div>
</section>