<section class="propietario">
    <div class="wrapper">
        <h2 class="propietario__h2">¿Eres propietario de un restaurante?</h2>

        <div class="propietario__registro-box">
            
            <div class="propietario__img">
                <img [src]="'assets/images/contactpage.webp'" [alt]="'contacto'">
            </div>

            <div class="propietario__registrar">
                <div class="texto__boton">
                    <h2 class="texto__h2">Registra tu restaurante</h2>
                    <p class="texto__p">Cuéntanos más sobre ti y nos pondremos en contacto contigo lo antes posible</p>
                    <a class="texto__a" >VER MÁS INFORMACION</a>
                </div>
                <div class="texto__boton">
                    <h2 class="texto__h2">Ya soy cliente</h2>
                    <p class="texto__p">Inicia sesión en TheFork Manager y ponte en contacto por nosotros por chat.</p>
                    <a class="texto__a" >INICIAR SESIÓN EN THEFORK MANAGER</a>
                </div>
            </div>

        </div>
    </div>
</section>
